.group:after{
    content: ".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden;
}
.transition{
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
}
.like_table{
    display: table;
    width:100%;
    height: 100%;
}
.table_cell{
    display: table-cell;
    width:100%;
    height: 100%;
    vertical-align: middle;
}
.relative{
    position: relative;
}
ul.list_inline li{
    display: inline-block;
}

body{
    min-width: 1200px;
}
header{
    border-bottom: 6px solid #C8DFF3;
    height:115px;
    padding: 0 25px;
}
header #logo{
    display: block;
    width:129px;
    height: 65px;
    background: url(../images/logo.png) no-repeat;
    float:left;
    margin-top: 15px;
}
header nav{
    float:left;
    margin:5px 0 0 45px;
}
header nav ul li{
    float:left;
    margin-left: 15px;
    position: relative;
}
header nav ul li.active:after{
    content:"";
    border-bottom:7px solid #C8DFF3;
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    position: absolute;
    bottom:-10px;
    left:50%;
    margin-left: -6px;
}
header nav ul li a{
    font:12px 'Verdana', sans-serif;
    color:#000000;
}
header .user_card{
    float:right;
    margin-top:6px;
}
header .user_card .foto{
    float:left;
    width:73px;
    margin-right:10px;
}
header .user_card .foto img{
    border-radius: 8px;
}
header .user_card .info{
    width:140px;
    float:left;
}
header .user_card .info p.name{
    color:#000000;
    font:13px/14px 'Verdana', sans-serif;
    width:65px;
    margin-bottom: 2px;
}
header .user_card .info p.role{
    color:#7E7676;
    font:italic 10px 'Verdana', sans-serif;
    margin-bottom: 0px;
}
header .user_card .info a.help{
    display: inline-block;
    padding-left: 18px;
    background: url(../images/icon6.png) no-repeat;
    color:#000000;
    font:10px/17px 'Verdana', sans-serif;
}
header .user_card .info a.settings{
    display: inline-block;
    padding-left: 18px;
    background: url(../images/icon7.png) no-repeat;
    color:#000000;
    font:10px/17px 'Verdana', sans-serif;
}
.main{
    padding-top:15px;
    padding-bottom: 75px;
}
.main h1{
    margin-top:0;
    color:#000000;
    font:15px 'Verdana', sans-serif;
}
.main .managers_list{

}
.main .managers_list table{

}
.main .managers_list table tr th{
    height:20px;
    background: #F4F4EE;
    border:none;
    border-left:1px solid #E1E1DF;
    box-shadow: inset 1px 0px 1px #ffffff;
    padding: 0 0 0 22px;
    font:12px 'Verdana', sans-serif;
    text-decoration: underline;
    vertical-align: middle;
}
.main .managers_list table tr th.t1{
    border-radius: 10px 0 0 10px;
    border:none;
}
.main .managers_list table tr th.t7{
    border-radius: 0px 10px 10px 0px;
}
.main .managers_list table tr th.t1{
    width:28px;
}
.main .managers_list table tr th.t2{
    width:95px;
}
.main .managers_list table tr th.t3{
    width:235px;
}
.main .managers_list table tr th.t4{
    width:205px;
}
.main .managers_list table tr th.t5{
    width:215px;
}
.main .managers_list table tr th.t6{
    width:190px;
}
.main .managers_list table tr th.t7{
    width:28px;
}
.main .managers_list table tr td{
    border:none;
    padding: 15px 0 15px 22px;
    font:12px 'Verdana', sans-serif;
    text-decoration: underline;
    vertical-align: top;
}
.main .managers_list table tr td a{
    color:#000000;
}
.main .managers_list table tr td a:hover{
    text-decoration: none !important;
}
aside{
    background:url(../images/pat.jpg);
    height:800px;
    padding: 25px 0 0 !important;
}
aside nav ul{
    margin-bottom: 0;
}
aside nav ul li{
    height:25px;
    padding: 0 12px;

}
aside nav ul li.active{
    border-top:1px solid #A8A78E;
    border-bottom:1px solid #ffffff;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c2c2a4+0,e1e1cd+100 */
    background: #c2c2a4; /* Old browsers */
    background: -moz-linear-gradient(top,  #c2c2a4 0%, #e1e1cd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #c2c2a4 0%,#e1e1cd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #c2c2a4 0%,#e1e1cd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c2a4', endColorstr='#e1e1cd',GradientType=0 ); /* IE6-9 */
}
aside nav ul li a{
    color:#000000;
    font:12px/25px 'Verdana', sans-serif;
    display: block;
}
aside nav ul li a span{
    float:right;
    color:#000000;
    font:12px/25px 'Verdana', sans-serif;
}
aside nav ul li a:hover{
    color:#000000;
}
aside nav ul.inside{

}
aside nav ul.inside li{
    background: none;
    padding-left: 40px;
    padding-right: 10px;
    border-top-color:transparent;
    border-bottom-color: transparent;
}
aside nav ul.inside li.active{
    border-top:1px solid #A8A78E;
    border-bottom:1px solid #ffffff;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c2c2a4+0,e1e1cd+100 */
    background: #c2c2a4; /* Old browsers */
    background: -moz-linear-gradient(top,  #c2c2a4 0%, #e1e1cd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #c2c2a4 0%,#e1e1cd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #c2c2a4 0%,#e1e1cd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c2a4', endColorstr='#e1e1cd',GradientType=0 ); /* IE6-9 */
}
aside nav ul.inside li:hover{
    border-top-color: #D5D3C7;
    border-bottom-color: #F7FAF8;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2d0+0,eeece2+100 */
    background: #e2e2d0; /* Old browsers */
    background: -moz-linear-gradient(top,  #e2e2d0 0%, #eeece2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e2e2d0 0%,#eeece2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e2e2d0 0%,#eeece2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2d0', endColorstr='#eeece2',GradientType=0 ); /* IE6-9 */
}
aside nav ul.inside li a{
    color:#000000;
    font:12px/25px 'Verdana', sans-serif;
    display: block;
}
aside nav p.finished{
    padding: 0 10px;
    font:12px/25px 'Verdana', sans-serif;
}
aside nav p.finished:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2d0+0,eeece2+100 */
    background: #e2e2d0; /* Old browsers */
    background: -moz-linear-gradient(top,  #e2e2d0 0%, #eeece2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e2e2d0 0%,#eeece2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e2e2d0 0%,#eeece2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2d0', endColorstr='#eeece2',GradientType=0 ); /* IE6-9 */
}
aside nav p.finished a{
    color:#000000;
    display: block;
}
aside nav p.finished a span{
    float:right;
}
.public_profile{

}
.public_profile .foto{
    width:260px;
    float:left;
    margin-right: 30px;
}
.public_profile .contact_info{
    width:560px;
    float:left;
    margin-right: 30px;
}
.public_profile .contact_info .links{
    margin-bottom: 15px;
}
.public_profile .contact_info .links a.add_task{
    color:#2ca02c;
    font:14px 'Verdana', sans-serif;
    text-decoration: underline;
    display: inline-block;
    margin-right: 10px;
}
.public_profile .contact_info .links a.add_task:hover{
    text-decoration:none;
}
.public_profile .contact_info .links a.add_message{
    color:#d58512;
    font:14px 'Verdana', sans-serif;
    text-decoration: none;
    border-bottom: 1px dotted #d58512;
    display: inline-block;
    margin-right: 10px;
}
.public_profile .contact_info .links a.add_message:hover{
    text-decoration:none;
    border-bottom-color: transparent;
}
.public_profile .contact_info .foto{
    float:none;
    margin-bottom: 15px;
}
.public_profile .contact_info p{
    color:#777777;
    font:14px 'Verdana', sans-serif;
}
.public_profile .contact_info p span{
    color:#000000;
}
.public_profile .contact_info p a{
    color:#000000;
    text-decoration: underline;
}
.public_profile .contact_info p a:hover{
    text-decoration: none;
}
.clients{
    padding: 15px 15px 0;
}
.clients .loading{
    display: none;
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
    width:100%;
    height: 100%;
    text-align: center;
/*    background: rgba(0,0,0,0.7);*/
    background: rgba(255,255,255,0.6) url(../images/bx_loader.gif) no-repeat center;
}

.clients .loading .glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
    color:#ffffff;
    font-size: 24px;
    display: none;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.modalComment{
    background: #EFF6FC;
}
.modalComment:nth-child(even){
    background: #D6E9F9;
}


.clients .left{
    width:690px;
    float:left;
}
.clients .right{
    width:480px;
    float:right;
}
.clients h1{
    color:#000000;
    font:24px 'Verdana', sans-serif;
    text-transform: uppercase;
}
.clients .new_clients{
    padding-left: 20px;
    width:585px;
}
.clients .new_clients p{
    color:#000000;
    font:12px 'Verdana', sans-serif;
}
.clients .new_clients .form{
    background: #EFF6FC;
    padding: 15px 8px 5px;
}
.clients .new_clients .form form{

}
.clients .new_clients .form form input{
    width:380px;
    height:25px;
    background: #F1EEEE;
    border:1px solid #E7F1FA;
    padding: 0 0 0 10px;
    color:#706C6C;
    font:12px 'Verdana', sans-serif;
    margin-bottom: 5px;
    float:left;
    margin-right: 5px;
}
.clients .new_clients .form form button{
    width:78px;
    height:22px;
    border:1px solid #AAD3EE;
    background: #D6E9F9;
    color:#000000;
    font:13px 'Verdana', sans-serif;
}
.clients .new_clients .form p.results{
    margin-top:5px;
    margin-bottom: 0;
    position: relative;
    padding-right: 70px;
    min-height: 30px;
}
.clients .new_clients .form p.results a{
    margin-left: 10px;
    display: inline-block;
    position:absolute;
    right:35px;
    top:0;
}
.clients .new_clients .form p.results a + a{
    right:0;
}
.clients .comments_block{
    margin-top:25px;
}
.clients .comments_block .heading{
    height:20px;
}
.clients .comments_block .heading table tr th{
    height:20px;
    background: #F4F4EE;
    border-left:1px solid #E1E1DF;
    box-shadow: inset 1px 0px 1px #ffffff;
    padding: 0 0 0 22px;
    font:12px 'Verdana', sans-serif;
    text-decoration: underline;
    vertical-align: middle;
}
.clients .comments_block .heading table tr th.t1{
    border-radius: 10px 0 0 10px;
    width:30px;
    border-left:none;
}
.clients .comments_block .heading table tr th.t2{
    width:140px;
}
.clients .comments_block .heading table tr th.t3{
    width:175px;
}
.clients .comments_block .heading table tr th.t4{
    width:320px;
}
.clients .comments_block .heading table tr th.t5{
    width:25px;
    border-radius: 0px 10px 10px 0px;
}
.clients .comments_block .content{
    width:660px;
    margin-left: 30px;
    height: 440px;
    overflow: auto;
    margin-top: 25px;
}
.clients .comments_block .content table tr td{
    color:#000000;
    font:12px 'Verdana', sans-serif;
    background: #EFF6FC;
    padding: 15px 0 15px 20px;
}
.clients .comments_block .content table tr td a{
    color:#000000;
    text-decoration: underline;
}
.clients .comments_block .content table tr td a:hover{
    text-decoration: none !important;
}
.clients .comments_block .content table tr:nth-child(even) td{
    background: #D6E9F9;
}
.clients .comments_block .content table tr td.t1{
    width:140px;
}
.clients .comments_block .content table tr td.t2{
    width:175px;
}
.clients .comments_block .content table tr td.t3{
    width:345px;
}
.clients .comments_block .toggle{
    margin-bottom: 10px;
    padding-left: 30px;
}
.clients .comments_block .toggle a{
    color:#000000;
    font:12px 'Verdana', sans-serif;
    margin-right: 15px;
}
.clients .comments_block .toggle a.active{
    text-decoration: underline;
}
.clients .site_info{
    padding-top: 25px;
}
.clients .site_info p.head{
    text-align: center;
    color:#000000;
    font:bold 16px 'Verdana', sans-serif;
}
.clients .site_info form{
    margin-bottom: 15px;
}
.clients .site_info form input{
    width:280px;
    height:25px;
    background: #F1EEEE;
    border:1px solid #E7F1FA;
    padding: 0 0 0 10px;
    color:#706C6C;
    font:12px 'Verdana', sans-serif;
}
.clients .site_info form button{
    width:128px;
    height:22px;
    border:1px solid #AAD3EE;
    background: #D6E9F9;
    color:#000000;
    font:13px 'Verdana', sans-serif;
}
.clients .site_info .content{
    background: #EFF6FC;
    border-radius: 6px;
    padding: 7px 13px 0;
}
.clients .site_info .content table{

}
.clients .site_info .content table tr th{
    color:#000000;
    font:12px 'Verdana', sans-serif;
    text-align: center;
    padding-bottom: 14px;
}
.clients .site_info .content table tr th span{
    color:#B0B0B0;
    font:12px 'Verdana', sans-serif;
    display: block;
}
.clients .site_info .content table tr th.t1{
    width:155px;
}
.clients .site_info .content table tr th.t2{
    width:100px;
}
.clients .site_info .content table tr th.t3{
    width:100px;
}
.clients .site_info .content table tr th.t4{
    width:100px;
}
.clients .site_info .content table tr td{
    padding-bottom: 20px;
}
.clients .site_info .content table tr td p.title{
    color:#000000;
    font:12px 'Verdana', sans-serif;
    text-decoration: underline;
    margin-bottom: 10px;
}
.clients .site_info .content table tr td p{
    color:#000000;
    font:12px 'Verdana', sans-serif;
    margin-bottom: 6px;
    min-height:15px;
}
.clients .faq{
    margin-top:30px;
}
.clients .faq p.head{
    text-align: center;
    color:#000000;
    font:bold 16px 'Verdana', sans-serif;
}
.clients .faq .content{
    background: #EFF6FC;
    padding: 7px 10px 65px;
    position: relative;
}
.clients .faq .content ul li{

}
.clients .faq .content ul li p.title{
    color:#000000;
    font:bold 16px 'Verdana', sans-serif;
    padding-left: 18px;
}
.clients .faq .content ul li table tr td{
    color:#000000;
    font:12px 'Verdana', sans-serif;
    width:395px;
    vertical-align: top;
    padding-bottom: 5px;
}
.clients .faq .content ul li table tr td:first-child{
    color:#797979;
    width:65px;
}
#playAudio{
    display: block;
    width:45px;
    height:38px;
    background: url(../images/sound.png) no-repeat;
    position: absolute;
    right:20px;
    bottom:13px;
}
a.add_new_task{
    width:145px;
    height:25px;
    border:2px solid #E8F2FA;
    border-radius: 4px;
    background: #EFF6FC;
    color:#000000;
    font:13px/25px 'Verdana', sans-serif;
    text-align: center;
    margin-right: 100px;
}
#addCommentForm{
    width:90%;
    margin:auto;
}
.task_users{
    width:640px;
    background: #fff;
}
.task_users .list, .task_users .types{
    width:320px;
    float:left;
    padding: 15px 0;
}
.task_users .types{
    background: #F3E2E2;
}
.task_users .list{
    height:200px;
    overflow: auto;
    background: #F9F9F9;
}
.task_users .list ul li{
    position: relative;
    padding: 0 10px;
    margin-bottom: 5px;
}
.task_users .list ul li input{
    position: absolute;
    left:-99999px;
}
.task_users .list ul li div.foto{
    width:40px;
    float:left;
}
.task_users .list ul li div.foto img{
    border-radius: 4px;
}
.task_users .list ul li input:checked +  div.name{
    background: #cccccc;
}
.task_users .list ul li div.name{
    width:190px;
    float:left;
    color:#000000;
    font:12px/40px 'Verdana', sans-serif;
    padding-left: 15px;
}
.task_users .list ul li div.name label{
    cursor: pointer;
}
.task_users .types ul li{
    padding: 0 10px;
}
.task_users .types ul li a{
    color:#000000;
    font:12px 'Verdana', sans-serif;
}
.task_users .types ul li a.active{
    color:#2ca02c;
    text-decoration: underline;
}
#tasks_table{
    margin-top:20px;
}
#tasks_table tr th{
    border-bottom: none;
    height:20px;
    background: #F4F4EE;
    border-left:1px solid #E1E1DF;
    box-shadow: inset 1px 0px 1px #ffffff;
    padding: 0 0 0 22px;
    font:12px 'Verdana', sans-serif;
    text-decoration: underline;
    vertical-align: middle;
}
#tasks_table tr th.t1{
    border-radius: 10px 0 0 10px;
    border-left:none;
    box-shadow:none;
    width:30px;
}
#tasks_table tr th.t2{
    width:255px;
}
#tasks_table tr th.t3{
    width:170px;
}
#tasks_table tr th.t4{
    width:200px;
}
#tasks_table tr th.t5{
    width:200px;
}
#tasks_table tr th.t6{
    width:40px;
}
#tasks_table tr th.t7{
    border-radius: 0 10px 10px 0;
    width:30px;
}
#tasks_table tr td{
    padding: 15px 0 0 22px;
    font:12px 'Verdana', sans-serif;
    /*text-decoration: underline;*/
    vertical-align: middle;
    height:20px;
    border:none;
}
#tasks_table tr:hover td{
    color:#656565;
}
#tasks_table tr td a{
    color:#000000;
    text-decoration: underline;
}
#tasks_table tr:hover td.t2 a{
    color:#656565;
}
#tasks_table tr.child td a{
    padding-left: 20px;
}
#tasks_table tr td a.large{
    font-size: 14px;
}
#tasks_table tr td a.fav.empty{
    opacity: 0;
}
#tasks_table tr td a.fav.empty:hover{
    opacity: 1.0;
}
#tasks_table tr td a.fav.full{
    color: #FFCC00;
}
#single_task{

}
#single_task a.fav.empty{
    color:#000000;
}
#single_task a.fav.full{
    color: #FFCC00;
}
#single_task p.edit a{
    color:#0066cc;
    font:13px 'Verdana', sans-serif;
}
#single_task h3, #single_task h4{
    margin-top:30px;
}
#commentForm, #commentEditForm{
    width:500px;
    margin:10px 0 0 0;
}
#commentForm textarea, #commentEditForm textarea{
    resize: none;
    margin-bottom: 25px;
    height:130px;
}
#single_task .one_comment{
    background: #FDFCDE;
    width:500px;
    border-top:1px solid #ffffff;
    border-bottom:1px solid #ffffff;
    padding: 10px;
}
#single_task .one_comment .foto{
    width:60px;
    float:left;
    margin-right: 20px;
}
#single_task .one_comment .content{
    width:400px;
    float:right;
}
#single_task .one_comment .content p{
    margin-bottom: 5px;
}
.task_options{
    padding-left: 15px;
}
.task_options p{
    font:12px 'Verdana', sans-serif;
    color:#000000;
}
.task_options p small{
    color:#999999;
}
.task_options p a{
    color:#333333;
    text-decoration: underline;
}
.task_options p a:hover{
    text-decoration: none;
}
.task_options .times{
    margin:15px 0;
}

.task_options .percent, .task_options .status{
    font-size: 15px;
}
.task_options .author, .task_options .user{
    margin:15px 0;
}
.task_options .author p, .task_options .user p{
    font-size: 13px;
}
.task_options .susers, .task_options .auditors{
    margin:20px 0;
}
.task_options .susers a.change, .task_options .auditors a.change{
    text-decoration: none !important;
    border-bottom: 1px dashed #333333;
    color:#333333;
    font-size: 12px;
}
.task_options .susers a.change:hover, .task_options .auditors a.change:hover{
    border-bottom-color:transparent;
}
.whom{

}
.whom .choose_user{
    color:#333333;
    text-decoration: underline;
    font:13px 'Verdana', sans-serif;
}
.whom .choose_user:hover{
    text-decoration: none;
}
.whom .chooser{
    display: none;
}
.whom .chooser ul li{
    margin-bottom: 15px;
}
.whom .chooser ul li .foto{
    width:40px;
    float:left;
    margin-right: 10px;
}
.whom .chooser ul li input{
    position: absolute;
    left:-99999px;
}
.whom .chooser ul li input:checked + label{
    text-decoration: underline;
}
.single_dialog{
    margin-top: 15px;
}
.single_dialog p.name{
    margin-bottom: 0px;
}
.single_dialog .foto{
    width:40px;
    float:left;
    margin-right: 10px;
}
.message{
    margin-bottom: 10px;
    background: #EFF6FC;
    padding: 10px 0;
}
.message.another{
    background: #D6E9F9;
}
.message p{
    font:14px 'Verdana', sans-serif;
    color:#000000;
    margin-bottom: 5px;
}
.message p small{
    color:#888888;
}
.message .time{
    font:12px 'Verdana', sans-serif;
    color:#999999;
    text-align: right;
}
#infoContent{
    position: relative;
}
#infoContent.load .loader{
    display: block;
}
#infoContent .loader{
    display: none;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.6) url(../images/bx_loader.gif) no-repeat center;
    position: absolute;
    top:0;
    left:0;
    z-index: 5;
}
.fordatetimepicker, .forchangestatus{
    position: absolute;
/*    top:100%;
    left:0;*/
    display: none;
    width:350px;
    background: #ffffff;
    z-index: 10;
}
#single_task .description{
    padding: 15px 0;
    background: #FDFCDE;
}
.salary_page{
    width:1100px;
    margin:auto;
}
.salary_page .text{
    margin-top: 10px;
}
.salary_page .text p{
    color:#000000;
    font:14px/21px 'Verdana', sans-serif;
    margin-bottom: 0;
}
.salary_page .text ul{
    padding-left: 15px;
}
.salary_page .text ul li{
    color:#000000;
    font:14px/21px 'Verdana', sans-serif;
}
.salary_page .month_head{
    position: relative;
    height:65px;
    width:100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cbd7cb+0,00accc+100 */
    background: #cbd7cb; /* Old browsers */
    background: -moz-linear-gradient(top,  #cbd7cb 0%, #00accc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #cbd7cb 0%,#00accc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #cbd7cb 0%,#00accc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbd7cb', endColorstr='#00accc',GradientType=0 ); /* IE6-9 */
    border-radius:10px 10px 0 0;
}
.salary_page .month_head span{
    display: block;
    text-align: center;
    color:#000000;
    font:16px/65px 'Verdana', sans-serif;
}
.salary_page .month_head #month_prev{
    display: block;
    width:26px;
    height:26px;
    background: url(../images/monthleft.png) no-repeat;
    position: absolute;
    top:18px;
    left:15px;
}
.salary_page .month_head #month_next{
    display: block;
    width:26px;
    height:26px;
    background: url(../images/monthright.png) no-repeat;
    position: absolute;
    top:18px;
    right:15px;
}
.salary_page #calendarApp{
    width:1100px;
}
.salary_page #calendarApp table{
    width:1100px;
}
.salary_page #calendarApp table tr th{
    width:150px;
    border-left:2px solid #BFEAF2;
    height:30px;
    text-align:center;
    background: #9DCEDC;
    text-transform: uppercase;
    font:16px 'Verdana', sans-serif;
}
.salary_page #calendarApp table tr th.holiday{
    color:#FF0018;
}
.salary_page #calendarApp table tr td{
    width:150px;
    height: 85px;
    border:2px solid #BFEAF2;
    background: #F2F9FB;
}
.salary_page #calendarApp table tr td.today{
    background: #C4EFFB;
}
.salary_page #calendarApp table tr td:first-child{
    border-left:none;
}
.salary_page #calendarApp table tr td div{
    width:150px;
    height: 85px;
    position: relative;
    padding: 10px 0 0 10px;
}
.salary_page #calendarApp table tr td div span.number{
    color:#000000;
    font:24px 'Verdana', sans-serif;
    position: absolute;
    top:-3px;
    right:7px;
}
.salary_page #calendarApp table tr td.holiday div span.number{
    color:#FF0018;
}
.salary_page #calendarApp table tr td div p.time{
    color:#5B5454;
    font:12px 'Verdana', sans-serif;
}
.salary_page #calendarApp table tr td div p.daySalary{
    color:#707070;
    font:12px 'Verdana', sans-serif;
    text-decoration: underline;
}
.salary_page #calendarApp table tr td div p.daySalary span{
    color:#1E7A0C;
}
.salary_page #calendarApp table tr td div p.specialSalary{
    color:#707070;
    font:12px 'Verdana', sans-serif;
    text-decoration: underline;
}
.salary_page #calendarApp table tr td div p.specialSalary span{
    color:#1E7A0C;
}
/**/
#user_pay_table table{
    width:100%;
    margin-top:45px;
}
#user_pay_table table tr th{
    height:20px;
    background: #F4F4EE;
    border:none;
    border-left:1px solid #E1E1DF;
    box-shadow: inset 1px 0px 1px #ffffff;
    padding: 0 0 0 22px;
    font:12px 'Verdana', sans-serif;
    text-decoration: underline;
    vertical-align: middle;
}
#user_pay_table table tr th.t1{
    border-radius: 10px 0 0 10px;
    border:none;
}
#user_pay_table table tr th.t7{
    border-radius: 0px 10px 10px 0px;
}
#user_pay_table table tr th.t1{
    width:28px;
}
#user_pay_table table tr th.t2{
    width:255px;
}
#user_pay_table table tr th.t3{
    width:70px;
}
#user_pay_table table tr th.t4{
    width:85px;
}
#user_pay_table table tr th.t5{
    width:80px;
}
#user_pay_table table tr th.t6{
    width:80px;
}
#user_pay_table table tr th.t7{
    width:80px;
}
#user_pay_table table tr th.t8{
    width:85px;
}
#user_pay_table table tr th.t9{
    width:80px;
}
#user_pay_table table tr th.t10{
    width:80px;
}
#user_pay_table table tr th.t11{
    width:100px;
}
#user_pay_table table tr th.t12{
    width:28px;
}
#user_pay_table table tr td{
    border:none;
    padding: 15px 0 15px 22px;
    font:12px 'Verdana', sans-serif;
    text-decoration: underline;
    vertical-align: top;
}
footer{
    width:100%;
    height:30px;
    padding-top: 5px;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    background: #EAE7DF;
    z-index: 30;
    border-top:1px solid #CFCCC6;
    box-shadow: inset 0px 1px 1px #ffffff;
}
footer form{
    float:left;
    width:785px;
    margin-left: 160px;
}
footer form input{
    width:785px;
    height:22px;
    border:1px solid #C7C7C7;
    border-radius: 11px;
    padding: 0 0 0 22px;
    background: url(../images/search.png) no-repeat 6px 50% #ffffff;
    font:12px 'Verdana', sans-serif;
    color:#777777;
}
footer .notifications{
    float:right;
    width:260px;
}
footer .notifications .tasks{
    float:left;
}
footer .notifications .tasks .favs{
    float:left;
    position: relative;
}
footer .notifications .tasks .favs a.labels{
    display: block;
    padding: 6px 0 0 18px;
    color:#000000;
    font:10px 'Verdana', sans-serif;
    background: url(../images/icon8.png) no-repeat;
}
footer .notifications .tasks .fires{
    float:left;
    margin-left: 20px;
    position: relative;
}
footer .notifications .tasks .fires a.labels{
    display: block;
    padding: 6px 0 0 18px;
    color:#000000;
    font:10px 'Verdana', sans-serif;
    background: url(../images/icon9.png) no-repeat;
}

footer .notifications .messages{
    float:right;
    padding-right: 25px;
}
footer .notifications .messages .nots{
    float:left;
    position: relative;
}
footer .notifications .messages .nots a.labels{
    display: block;
    padding: 6px 0 0 18px;
    color:#000000;
    font:10px 'Verdana', sans-serif;
    background: url(../images/icon10.png) no-repeat;
}
footer .notifications .messages .attans{
    float:left;
    margin-left: 20px;
    position: relative;
}
footer .notifications .messages .attans a.labels{
    display: block;
    padding: 6px 0 0 18px;
    color:#000000;
    font:10px 'Verdana', sans-serif;
    background: url(../images/icon11.png) no-repeat;
}
footer .notifications .list{
    position: absolute;
    right:-30px;
    bottom:30px;
    width:350px;
    padding: 10px;
    background: #ffffff;
    max-height: 300px;
    overflow: auto;
    border:1px solid #CFCCC6;
    display: none;
}
footer .notifications .list ul li{
    margin-bottom: 5px;
    padding-left: 18px;
}
footer .notifications .favs .list ul li{
    background: url(../images/icon8.png) no-repeat;
}
footer .notifications .fires .list ul li{
    background: url(../images/icon9.png) no-repeat;
}
footer .notifications .list ul li a{
    font:14px 'Verdana', sans-serif;
    color:#000000;
}
.client .file_block{

}
.clients .file_block{
    padding-left: 20px;
    width:585px;
}
.clients .file_block p{
    color:#000000;
    font:12px 'Verdana', sans-serif;
}
.clients .file_block form{
    background: #EFF6FC;
    padding: 15px 8px 5px;
}
.clients .file_block form input{
    width:380px;
    height:25px;
    background: #F1EEEE;
    border:1px solid #E7F1FA;
    padding: 0 0 0 10px;
    color:#706C6C;
    font:12px 'Verdana', sans-serif;
    margin-bottom: 5px;
    float:left;
    margin-right: 5px;
}
#user_pay_table{
    display: none !important;
}